* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkblue;
    color: #fff;
}

h1 {
    background-color: darkblue;
    text-align: center;
    height: 70px;
    line-height: 4rem;
    color: #fff;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 200px;
    gap: 3%;
}

.choice {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover {
    background-color: darkblue;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 25px;
    text-align: center;
}

.num {
    font-size: 30px;
}

.play {
    text-align: center;
    margin-top: 3rem;
}

.game {
    background-color: darkblue;
    font-size: 25px;
    border-radius: 1rem;
    text-align: center;
    line-height: 3rem;
    padding: 1rem;
    display: inline;
    margin: auto;
    color: #fff;
}